.DS_Store
*.pyc
*.swp
*.sublime-*
*.png
.cache/
*.egg
*.egg-info
*.pyc
.tox
deploy.txt
MANIFEST
docs/_build
build/
dist/
venv/
screenshots/
honk.egg-info/
Pipfile.lock
.pytest_cache/
spikes/

person.json